body {
    font-size: .875rem;
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

.navbar-head{
    display:flex;
    align-items: center;
    padding:5px;
  }
  .functions{
    flex:1;
    text-align: right;
  }
  .functions ul{
    display:inline-block;
    list-style-type: none;
  }
  .functions ul li {
    display:inline-block;
    margin-right:30px;
  }
  .functions a{
    text-decoration: none;
    color:#555;
    font-size:25px;
  }
  .container-head{
    max-width:100%;
    margin:auto;
    }
  @media only screen and (max-width:767px){
    .functions a{
      font-size:20px;
    }
  }